﻿@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="wrapper" ng-controller="indexCtrl" ng-cloak>
    <header class="main-header">
        <!-- Logo -->
        <a href="#/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">
                <img width="50" height="50" src="~/img/icon.png" />
            </span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">
                <img width="50" height="50" src="~/img/icon.png" />
                <b>Osteoporosis</b>
            </span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    @using Microsoft.AspNet.Identity
                    <li>
                        <a class="claickable">
                            <span class="hidden-xs"> @User.Identity.GetUserName() </span>
                        </a>
                    </li>
                    <li>
                        <a class="claickable" href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();"><i class="glyphicon glyphicon-off"></i></a>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a class="dropdown-toggle claickable" data-toggle="dropdown"><i class="fa fa-gears"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/editProfile">Edit Password</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    }
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            @*<div class="user-panel">
                <div class="pull-left image">
                    <img src="~/content/dist/img/avatar5.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>@User.Identity.GetUserName()</p> 
                </div>
            </div>*@
            <ul class="sidebar-menu">
                @*<li class="header">MAIN NAVIGATION</li>*@
                <li>
                    <a href="#/">
                        <i class="fa fa-dashboard"></i> <span>DashBoard &amp; Statistic</span>
                    </a>
                </li>
                <li ng-show="isCreatePatientAllow || (isViewPatientAllow  || isEditPatientAllow || isDeletePatientAllow ||  isPrintReportAllow)" class="treeview">
                    <a class="claickable">
                        <i class="fa fa-users"></i> <span>Forms</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li ng-show="isCreatePatientAllow"><a href="#/addForm"><i class="fa fa-circle-o text-red"></i> Add New Form</a></li>
                        <li ng-show="isViewPatientAllow  || isEditPatientAllow || isDeletePatientAllow ||  isPrintReportAllow"><a href="#/allForms"><i class="fa fa-circle-o text-blue"></i> View All Forms</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a class="claickable">
                        <i class="fa fa-laptop"></i>
                        <span>Mange Users </span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li ng-show="isViewUsersAllow || isCreateUserAllow || isEditUserAllow || isDeleteUserAllow"><a href="#/users"><i class="fa fa-circle-o text-aqua"></i>Users Registerations</a></li>
                        <li ng-show="isViewRolesAllow || isCreateRoleAllow || isEditRoleAllow || isDeleteRoleAllow"><a href="#/roles"><i class="fa fa-circle-o text-black"></i>Users Groups</a></li>
                    </ul>
                </li>
                <li ng-show="isViewCitiesAllow || isCreateCityAllow || isEditCityAllow || isDeleteCityAllow">
                    <a href="#/cities">
                        <i class="fa fa-map-marker"></i><span>Manage Cities</span>
                    </a>
                </li>
                <li ng-show="isReportsAllow" class="treeview">
                    <a href="#/filterPatient">
                        <i class="fa fa-files-o"></i>
                        <span>Reports Engine</span>
                    </a>
                </li>
                <li>
                    <a href="#/map">
                        <i class="fa fa-map"></i> <span>Map</span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content">
            <div ng-view>

            </div>
        </section>
    </div>
    <footer class="main-footer">
        <strong>Copyright &copy; @DateTime.Now.Year Osteoporosis Control System.</strong> All rights reserved.
    </footer>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            @*<li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>*@
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
            <!-- Settings tab content -->
        </div>
    </aside><!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->
