﻿@media(max-width:1920px) and (max-height:1080px){
#page-wrapper {
    width: 100%;
    min-height: 1065px;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
}
}
@media(max-width:1024px) and (max-height:571px){
    #wrapper {
    padding-right: 180px;
}
    .side-nav {
    position: fixed;
    top: 70px;
    right: 225px;
    width: 180px;
    margin-right: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #34495e;
}
    .history{
        margin-right:10px;
    }
    .last-price{
    margin-right:-20px;
}

.now-price{
    margin-right:-20px;
}
.item-name{
        margin-right: -40px;
    width: 114%;
}
.bill-name{
    margin-right: -35px;
    width: 130%;
}
.bill-num{
        margin-right: -35px;
    width: 115%;
}
}

@media(max-width:1366px) and (max-height:768px){
    .bill-name {
    margin-right: -25px;
}

.delegate-code {
    margin-right: -40px;
}

.delegate-name {
    margin-right: -40px;
}

.bill-num {
    width: 105.3%;
    margin-right: -42px;
}


.item-name{
    margin-right: -20px;
}

.quantity{
    margin-right: -20px;
}

.last-price{
    margin-right:-35px;
}

.now-price{
    margin-right:-35px;
}
}