﻿@using HashashaSPA.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Osteoporosis</b> System</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {    @Html.AntiForgeryToken()
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Enter User Name", @autofocus = "autofocus" })
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </label>
                    </div>
                </div><!-- /.col -->
                <div class="col-xs-4">
                    <input type="submit" value="Sign In" class="btn btn-primary btn-block btn-flat" />
                </div><!-- /.col -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <br />
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    <br />
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <br />
                </div>
            </div>
        }
    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->