﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <li>
            <a class="claickable">
                <span class="hidden-xs"> @User.Identity.GetUserName() </span>
            </a>
        </li>
        <li>
            <a class="claickable"><i class="glyphicon glyphicon-p"></i></a>
        </li>

        <li class="dropdown user user-menu">
            <a class="claickable dropdown-toggle" data-toggle="dropdown">
                <img src="~/Content/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                <span class="hidden-xs"> @User.Identity.GetUserName() </span>
            </a>
            <ul class="dropdown-menu">
                <li class="user-header">
                    @*<img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">*@
                    <p>
                        Welcome @User.Identity.GetUserName()
                        <small>You are Member of the Osteoporosis Systems .</small>
                    </p>
                </li>
                <li class="user-footer">
                    <div class="pull-left">
                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                        <a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();" style="cursor: pointer;" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                </li>
            </ul>
        </li>
    }
}

