﻿<div class="row" ng-controller="allFormsCtrl" ng-init="allPatient()">
    <!-- /.container-fluid -->
    <div class="col-xs-12" style="padding-top:.5%;">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-users"></i>All Forms</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="btn-group">
                                    <a ng-show="isViewPatientAllow" ng-click="setView(0);" class="btn btn-default">
                                        <i class="glyphicon glyphicon-refresh"></i>
                                    </a>
                                    <a ng-show="isViewPatientAllow" ng-click="setView(0)" ng-class="{'btn btn-default active':showData ,'btn btn-default':!showData}">
                                        <i class="glyphicon glyphicon-list"></i> all patients
                                    </a>
                                    <a ng-show="isViewPatientAllow" ng-click="setView(1)" ng-class="{'btn btn-default active':showhistory ,'btn btn-default':!showhistory}">
                                        <i class="fa fa-trash"></i> Deleted
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <a ng-show="isPrintReportAllow" href="#/filterPatient" class="btn btn-primary  pull-right">
                                    <i class="fa fa-print"></i> Reports
                                </a>
                            </div>
                        </div>
                    </div>
                    <style>
                        .disable {
                            cursor: not-allowed;
                        }
                    </style>
                    <div class="panel-body" ng-show="isViewPatientAllow || isEditPatientAllow || isDeletePatientAllow">
                        <div>
                            <table class="table table-hover table-bordered table-responsive">
                                <thead>
                                    <tr ng-hide="filter">
                                        <th ng-click="sort('id')" class="claickable">
                                            #
                                            <span class="glyphicon sort-icon pull-right" ng-show="sortKey=='id'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                        </th>
                                        <th ng-click="sort('fullName')" class="claickable">
                                            Patient Full Name
                                            <span class="glyphicon sort-icon  pull-right " ng-show="sortKey=='fullName'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                        </th>
                                        <th ng-click="sort('nationalId')" class="claickable">
                                            National ID/Iqama
                                            <span class="glyphicon sort-icon  pull-right" ng-show="sortKey=='nationalId'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                        </th>

                                        <th ng-click="sort('osteoporosisCase')" class="claickable">
                                            Osteoporosis Case
                                            <span class="glyphicon sort-icon pull-right" ng-show="sortKey=='osteoporosisCase'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                        </th>
                                        <th ng-click="sort('serviceCity')" class="claickable">
                                            Service City
                                            <span class="glyphicon sort-icon pull-right" ng-show="sortKey=='ServiceCity.CityName'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                        </th>
                                        <th ng-click="sort('liveCity')" class="claickable">
                                            Birth City
                                            <span class="glyphicon sort-icon pull-right " ng-show="sortKey=='BirthCity.CityName'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                        </th>
                                        <th class="text-center setting" width="75px">
                                            <a class="claickable" ng-click="triggerFilter()">
                                                <i class="glyphicon glyphicon-filter"></i>
                                            </a>
                                        </th>
                                    </tr>
                                    <tr ng-show="filter">
                                        <th>
                                            <input type="text" ng-model="search.id" class="form-control input-sm" placeholder="PatientId" />
                                        </th>
                                        <th>
                                            <input type="text" ng-model="search.fullName" class="form-control input-sm" placeholder="Patient Name" />
                                        </th>
                                        <th>
                                            <input type="text" ng-model="search.nationalId" class="form-control input-sm" placeholder="National Id" />
                                        </th>
                                        <th>
                                            <input type="text" ng-model="search.osteoporosisCase" class="form-control input-sm" placeholder="Osteoporosis Case" />
                                        </th>
                                        <th>
                                            <input type="text" ng-model="search.serviceCity" class="form-control input-sm" placeholder="Service City" />
                                        </th>
                                        <th>
                                            <input type="text" ng-model="search.liveCity" class="form-control input-sm" placeholder="Birth City" />
                                        </th>
                                        <th class="text-center setting" width="75px">
                                            <a class="claickable" ng-click="triggerFilter()">
                                                <i class="glyphicon glyphicon-filter"></i>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="item in list|filter:search|orderBy:sortKey:reverse|itemsPerPage:num">
                                        <td>{{$index+1}}</td>
                                        <td>{{item.fullName}} </td>
                                        <td>{{item.nationalId}}</td>
                                        <td>{{item.osteoporosisCase}}</td>
                                        <td>{{item.serviceCity}}</td>
                                        <td>{{item.liveCity}}</td>

                                        <td ng-hide="showhistory" width="170">
                                            <a ng-show="isEditPatientAllow" class="claickable" ng-click="edit(item)" ng-href="#/editPatient?id={{item.id}}" uib-tooltip="edit patient info" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            <span ng-show="isDeletePatientAllow" class="h4">|</span>
                                            <a ng-show="isDeletePatientAllow" class="claickable" ng-click="setDelete(item)" style="color:red; cursor: pointer;" data-toggle="modal" data-target="#Delete" uib-tooltip="Delete this Item" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                            <span ng-show="isViewPatientAllow" class="h4">|</span>
                                            <a ng-show="isViewPatientAllow" class="claickable" ng-click="preview(item)" ng-href="#/preview?id={{item.id}}" uib-tooltip="preview item" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                            </a>
                                            <span ng-show="isPrintReportAllow" class="h4">|</span>
                                            <a ng-show="isPrintReportAllow" class="claickable" ng-click="PrintReport(item)" uib-tooltip="Print Patient Form" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                <span class="glyphicon glyphicon-print"></span>
                                            </a>
                                            <span ng-show="isDownloadAllow" class="h4">|</span>
                                            <a ng-show="isDownloadAllow" class="claickable" ng-class="{'disable':!item.fileUrl}" ng-click="DownloadFile(item)" uib-tooltip="Download " tooltip-placement="top" tooltip-trigger="mouseenter">
                                                <span class="glyphicon glyphicon-download"></span>
                                            </a>
                                        </td>
                                        <td ng-show="showhistory" width="75px">
                                            <a class="claickable" ng-click="restorePatient(item)" style="color:forestgreen" uib-tooltip="restore this patient" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                <span class="glyphicon glyphicon-repeat"></span>
                                            </a>
                                            <span class="h4">|</span>
                                            <a class="claickable" ng-click="Delete(item)" style="color:red; cursor: pointer;" data-toggle="modal" data-target="#Delete" uib-tooltip="Delete this Item" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer" ng-show="isViewPatientAllow || isEditPatientAllow || isDeletePatientAllow">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pull-right">
                                    <dir-pagination-controls max-size="5" direction-links="true"></dir-pagination-controls>
                                </div>
                                <div ng-show="list.length > 5" class="pull-left" style="width:50%;">
                                    <p class="counter form-inline">
                                        <span> Show </span>
                                        <select ng-model="num" class="form-control input-sm">
                                            <option value="5" ng-selected="num == 5">5</option>
                                            <option value="10" ng-show="list.length > 10">10</option>
                                            <option value="25" ng-show="list.length > 25">25</option>
                                            <option value="50" ng-show="list.length > 50">50</option>
                                            <option ng-model="list.length">All</option>
                                        </select>
                                        <span> From {{list.length}} Patient</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


