﻿
<div ng-controller="allCitiesCtrl">
    <!-- /.container-fluid -->
    <form name="cityform" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa fa-map-marker"></i>Manage Cities</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <div class="col-xs-12" style="padding-top:.5%;">
                    <div class="panel panel-default">
                        <div class="panel-heading" ng-show="isViewCitiesAllow || isEditCityAllow || isDeleteCityAllow">
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="btn-group">
                                        <a ng-show="isViewCitiesAllow" ng-click="setView(0)" class="btn btn-default">
                                            <i class="glyphicon glyphicon-refresh"></i>
                                        </a>
                                        <a ng-show="isViewCitiesAllow" ng-click="setView(0)" ng-class="{'btn btn-default active':showData ,'btn btn-default':!showData}">
                                            <i class="glyphicon glyphicon-list"></i> All Cities
                                        </a>
                                        <a ng-show="isViewCitiesAllow" ng-click="setView(1)" ng-class="{'btn btn-default active':showhistory ,'btn btn-default':!showhistory}">
                                            <i class="fa fa-trash"></i> Deleted
                                        </a>
                                        <a ng-show="showEditCity" ng-click="setView(3)" ng-class="{'btn btn-default active':showEditCity ,'btn btn-default':!showEditCity}">
                                            <i class="fa fa-edit"></i> Edit City
                                        </a>
                                        <a ng-show="isCreateCityAllow" ng-click="setView(2)" ng-class="{'btn btn-default active':showAddCity ,'btn btn-default':!showAddCity}">
                                            <i class="glyphicon glyphicon-plus"></i> Add City
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body" ng-show="isViewCitiesAllow || isEditCityAllow || isDeleteCityAllow">

                            <div ng-show="showhistory || showData">
                                <table class="table table-hover table-bordered table-responsive">
                                    <thead>
                                        <tr ng-hide="filter">
                                            <th class="claickable" ng-click="sort('cityId')">
                                                #
                                                <span class="glyphicon sort-icon pull-right" ng-show="sortKey=='cityId'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                            </th>
                                            <th class="claickable" ng-click="sort('cityName')">
                                                City Name
                                                <span class="glyphicon sort-icon  pull-right" ng-show="sortKey=='cityName'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                            </th>
                                            <th class="text-center setting" width="75px">
                                                <a class="claickable" ng-click="triggerFilter()">
                                                    <i class="glyphicon glyphicon-filter"></i>
                                                </a>
                                            </th>
                                        </tr>
                                        <tr ng-show="filter">
                                            <th>
                                                <input type="text" ng-model="search.cityId" class="form-control input-sm" placeholder="City Id" />
                                            </th>
                                            <th>
                                                <input type="text" ng-model="search.cityName" class="form-control input-sm" placeholder="City Name" />
                                            </th>
                                            <th class="text-center setting" width="75px">
                                                <a class="claickable" ng-click="triggerFilter()">
                                                    <i class="glyphicon glyphicon-filter"></i>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="item in citylist|filter:search|orderBy:sortKey:reverse|itemsPerPage:num">
                                            <td>{{$index+1}}</td>
                                            <td>{{item.cityName}} </td>

                                            <td ng-hide="showhistory" width="150">
                                                <a ng-show="isEditCityAllow" ng-click="editCity(item)" class="claickable" uib-tooltip="edit City info" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <span ng-show="isDeleteCityAllow" class="h4">|</span>
                                                <a ng-show="isDeleteCityAllow" class="claickable" ng-click="deleteCity(item)" style="color:red; cursor: pointer;" data-toggle="modal" data-target="#Delete" uib-tooltip="Delete this Item temporary" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </td>
                                            <td ng-show="showhistory" width="75px">
                                                <a class="claickable" ng-click="restoreCity(item)" style="color:forestgreen" uib-tooltip="Restore City" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                    <span class="glyphicon glyphicon-repeat"></span>
                                                </a>
                                                <span class="h4">|</span>
                                                <a ng-show="isDeleteCityAllow" class="claickable" ng-click="DeleteFinal(item)" style="color:red" uib-tooltip="Delete City" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ng-form name="editCityForm">
                                <div ng-show="showEditCity">

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="setView(0)">
                                                <p aria-hidden="true">&times;</p>
                                            </button>
                                            <h3 class="modal-title">Edit city</h3>
                                        </div>

                                        <div class="modal-body">

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="input-group">
                                                        <label class="input-group-addon" for="city">
                                                            <i class="fa fa-edit"></i> City Name :
                                                        </label>
                                                        <input type="text" autofocus ng-model="editItem.cityName" name="city" required placeholder="Enter City Name......." class="form-control" id="city" required>
                                                    </div>
                                                    <div class="help-block" ng-messages="editCityForm.city.$error" ng-if="editCityForm.city.$touched">
                                                        <div ng-message="required" style="color:red; padding-left:15%">City Name is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" ng-disabled="!editCityForm.$valid" ng-click="saveEditCity()">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                <span ng-hide="savingEdit">Save Changes</span>
                                                <span ng-show="savingEdit"><i class="fa fa-spinner fa-pulse fa-fw"></i>Saving Changes...</span>
                                            </button>
                                            <button type="button" class="btn btn-danger" ng-click="setView(0)">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </ng-form>
                            <ng-form name="addCityForm">
                                <div ng-show="showAddCity">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="setView(0)">
                                                <p aria-hidden="true">&times;</p>
                                            </button>
                                            <h3 class="modal-title">Add new city</h3>
                                        </div>
                                        <div class="model-body">
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="input-group">
                                                            <label class="input-group-addon" for="city">
                                                                <i class="glyphicon glyphicon-pencil"></i> City Name :
                                                            </label>
                                                            <input type="text" autofocus required ng-model="City.cityName" name="city" placeholder="Enter City Name......." class="form-control" id="city" required>
                                                        </div>
                                                        <div class="help-block" ng-messages="addCityForm.city.$error" ng-if="addCityForm.city.$touched">
                                                            <div ng-message="required" style="color:red; padding-left:15%">City is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" ng-disabled="!addCityForm.$valid" ng-click="createCity()">
                                                    @*<span ng-show="searchButtonText == 'Saving'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                                                        {{SaveButtonText}}*@
                                                    <span ng-hide="saving">Save Changes</span>
                                                    <span ng-show="saving"><i class="fa fa-spinner fa-pulse fa-fw"></i>Saving Changes...</span>
                                                </button>
                                                <button type="button" class="btn btn-danger" ng-click="setView(0)">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-form>
                            <div class="panel-footer" ng-show="showhistory || showData">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="pull-right">
                                            <dir-pagination-controls max-size="5" direction-links="true"></dir-pagination-controls>
                                        </div>
                                        <div ng-show="citylist.length > 5" class="pull-left" style="width:50%;">
                                            <p class="counter form-inline">
                                                <span>Show</span>
                                                <select ng-model="num" class="form-control input-sm">
                                                    <option value="5" ng-selected="num == 5">5</option>
                                                    <option ng-show="citylist.length >10" value="10">10</option>
                                                    <option ng-show="citylist.length > 25" value="25">25</option>
                                                    <option ng-show="citylist.length > 50" value="50">50</option>
                                                    <option ng-model="citylist.length">All</option>
                                                </select>
                                                <span> From {{citylist.length}} City</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
