﻿<div class="row" ng-controller="editPatientCtrl">
    <div class="col-lg-12">
        <form novalidate name="addForm">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="glyphicon glyphicon-info-sign"></i> Patient Information</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-one"></i> First Name*
                                    </div>
                                    <input ng-model="patient.patientFirstName" type="text" autofocus name="patientName" id="patientName" class="form-control" placeholder="Patient Name" required>
                                </div>
                                <div class="help-block" ng-messages="addForm.patientName.$error" ng-if="addForm.patientName.$touched">
                                    <div ng-message="required" style="color:red">Name is required</div>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-two"></i> Father Name*
                                    </div>
                                    <input ng-model="patient.patientFatherName" type="text" class="form-control" name="fatherName" placeholder="Father Name" required>
                                </div>
                                <div class="help-block" ng-messages="addForm.fatherName.$error" ng-if="addForm.fatherName.$touched">
                                    <div ng-message="required" style="color:red">Father Name is required</div>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-three"></i> Last Name*
                                    </div>
                                    <input ng-model="patient.patientLastName" type="text" class="form-control" name="lastName" placeholder="Last Name" required>
                                </div>
                                <div class="help-block" ng-messages="addForm.lastName.$error" ng-if="addForm.lastName.$touched">
                                    <div ng-message="required" style="color:red">Last Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-barcode"></i> National/lqama ID*
                                    </div>
                                    <input ng-model="patient.nationalId" numbers-only name="nationalId" id="nationalId" ng-required="true" ng-minlength="10" ng-maxlength="10" class="form-control" placeholder="National Id/Iqama">
                                </div>
                                <div class="help-block" ng-messages="addForm.nationalId.$error" ng-if="addForm.nationalId.$touched">
                                    <p ng-message="minlength" style="color:red">National Id is too short.<br /> must be 10 number.</p>
                                    <p ng-message="maxlength" style="color:red">National Id is too long.<br /> must be 10 number.</p>
                                    <p ng-message="required" style="color:red">National Id is required.</p>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i> Contact Number*
                                    </div>
                                    <input ng-model="patient.contactNumber" numbers-only name="contactnumber" class="form-control" required ng-minlength="10" ng-maxlength="10" placeholder="Contact Number">
                                </div>
                                <div class="help-block" ng-messages="addForm.contactnumber.$error" ng-if="addForm.contactnumber.$touched">
                                    <p ng-message="minlength" style="color:red">Contact Number is too short.<br /> must be 10 number.</p>
                                    <p ng-message="maxlength" style="color:red">Contact Number is too long.<br /> must be 10 number.</p>
                                    <p ng-message="required" style="color:red">Contact Numberis required.</p>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-mobile"></i> Mobile*
                                    </div>
                                    <input ng-model="patient.mobileNumber" numbers-only name="mobilenumber" class="form-control" required ng-minlength="10" ng-maxlength="10" placeholder="Mobile Number" style="border-radius: 0 4px 4px 0;">
                                </div>
                                <div class="help-block" ng-messages="addForm.mobilenumber.$error" ng-if="addForm.mobilenumber.$touched">
                                    <p ng-message="minlength" style="color:red">Mobile Number is too short.<br /> must be 10 number.</p>
                                    <p ng-message="maxlength" style="color:red">Mobile Number is too long.<br /> must be 10 number.</p>
                                    <p ng-message="required" style="color:red">Mobile Number is required.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i> Test Date*
                                    </div>
                                    <input id="testdate" type="text" class="form-control" uib-datepicker-popup="{{format}}" value="{{TestDate | amDateFormat:'DD/MM/YYYY'}}" ng-model="TestDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                                <div class="help-block" ng-messages="addForm.testdate.$error" ng-if="addForm.testdate.$touched">
                                    <p ng-message="required" style="color:red">Test Date is required.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i> Birth Date*
                                    </div>
                                    <input id="birthdate" type="text" ng-change="calculateAge(BirthDate)" class="form-control" uib-datepicker-popup="{{format}}" value="{{BirthDate | amDateFormat:'DD/MM/YYYY'}}" ng-model="BirthDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>

                                </div>
                                <div style="padding-left:110px; font-size:14px">
                                    <span ng-show="errInAge" style="color:darkblue">{{errorInAge}}</span>
                                    <span ng-hide="errInAge" style="color:red">{{errorInAge}}</span>
                                </div>
                                <div class="help-block" ng-messages="addForm.birthdate.$error" ng-if="addForm.birthdate.$touched">
                                    <p ng-message="required" style="color:red">Birth Date is required.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-map-marker"></i> City Of Service* :
                                    </div>
                                    @*<select ng-model="ServiceCityId" class="form-control" required>
                                            <option ng-repeat="item in adminCity" ng-selected="item.cityId == ServiceCityId" value="{{item.cityId}}">{{item.cityName}}</option>
                                        </select>*@
                                    <input readonly ng-model="adminCity.CityName" type="text" class="form-control" name="lastName" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-map-marker"></i> City Of Live* :
                                    </div>
                                    <select ng-model="LiveCityId" name="cityLive" class="form-control" required>
                                        <option ng-repeat="item in cities" ng-selected="item.cityId == LiveCityId" value="{{item.cityId}}">{{item.cityName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-venus-mars"></i> Gender* :
                            </div>
                            <div class="btn-group btn-group-justified">
                                <label style="border-bottom-left-radius:0;border-top-left-radius:0;" class="btn btn-default" ng-model="PatientGender" name="gend" required uib-btn-radio="'false'">female</label>
                                <label class="btn btn-default" ng-model="PatientGender" name="gend" required uib-btn-radio="'true'">male</label>
                            </div>
                        </div>
                        <span class="help-block" ng-show="addForm.gend.$invalid && !addForm.gend.$pristine" style="color:red">gender is required</span>
                    </div>
                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-gear"></i> Occupation* :
                            </div>
                            <div class="btn-group btn-group-justified">
                                <label style="border-bottom-left-radius:0;border-top-left-radius:0;" class="btn btn-default" name="occupation" ng-model="occupation" uib-btn-radio="'Unemployed'">Unemployed</label>
                                <label class="btn btn-default" name="occupation" ng-model="Occupation" uib-btn-radio="'Student'">Student</label>
                                <label class="btn btn-default" name="occupation" ng-model="Occupation" uib-btn-radio="'Professional'">Professional</label>
                                <label class="btn btn-default" name="occupation" ng-model="Occupation" uib-btn-radio="'Manual_Labor'">Manual Labor</label>
                                <label class="btn btn-default" name="occupation" ng-model="Occupation" uib-btn-radio="'Unknown'">Unknown</label>
                                <label class="btn btn-default" name="occupation" ng-model="Occupation" uib-btn-radio="'Other_Specify'">Other Specify</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-book"></i> Education* :
                            </div>
                            <div class="btn-group btn-group-justified">
                                <label class="btn btn-default" style="border-bottom-left-radius:0;border-top-left-radius:0;" name="education" required ng-model="Education" uib-btn-radio="'Un_educated'">Un-educated</label>
                                <label class="btn btn-default" name="education" required ng-model="Education" uib-btn-radio="'Read_Write'">Read &amp; Write</label>
                                <label class="btn btn-default" name="education" required ng-model="Education" uib-btn-radio="'Primary'">Primary</label>
                                <label class="btn btn-default" name="education" required ng-model="Education" uib-btn-radio="'Intermediate'">Intermediate</label>
                                <label class="btn btn-default" name="education" required ng-model="Education" uib-btn-radio="'Secondary'">Secondary</label>
                                <label class="btn btn-default" name="education" required ng-model="Education" uib-btn-radio="'University'">University</label>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-list-alt"></i> Risk Factor</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-arrows-v"></i> Height*
                                    </div>
                                    <input ng-change="calcDmi()" valid-number ng-model="patient.height" name="height" type="text" autofocus id="txt5" class="form-control" placeholder="Height (CM)" ng-required="true">
                                </div>
                                <div class="help-block" ng-messages="addForm.height.$error" ng-if="addForm.height.$touched">
                                    <div ng-message="required" style="color:red">Height is required</div>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-arrows-h"></i> Weight*
                                    </div>
                                    <input ng-change="calcDmi()" valid-number ng-model="patient.weight" name="weight" type="text" class="form-control" placeholder="Weight (KG)" style="border-radius: 0 0 0 0;" ng-required="true">
                                </div>
                                <div class="help-block" ng-messages="addForm.weight.$error" ng-if="addForm.weight.$touched">
                                    <div ng-message="required" style="color:red">Weight is required</div>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-three"></i> BMI (Body Mass Index)
                                    </div>
                                    <input readonly ng-model="resultDMI" type="text" class="form-control" name="lastName" placeholder="BMI value" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 patient-name">Risk Factors* : </label>
                        <div class="col-sm-10 row">
                            <div class="btn-group btn-group-justified">
                                <label ng-change="validateRisk()" class="btn btn-default" name="risk" ng-required="true" ng-model="riskModel.LowVitamin" uib-btn-checkbox>Low Vitamin D </label>
                                <label ng-change="validateRisk()" class="btn btn-default" name="risk" ng-required="true" ng-model="riskModel.HormoneTherapy" uib-btn-checkbox>Hormone Therapy </label>
                                <label ng-change="validateRisk()" class="btn btn-default" name="risk" ng-required="true" ng-model="riskModel.Smoking" uib-btn-checkbox>Smoking</label>
                                <label ng-change="validateRisk()" class="btn btn-default" name="risk" ng-required="true" ng-model="riskModel.RheumatoidArthritis" uib-btn-checkbox>Rheumatoid Arthritis</label>
                                <label ng-change="validateRisk()" class="btn btn-default" name="risk" ng-required="true" ng-model="riskModel.Glucocorticoid" uib-btn-checkbox>Glucocorticoid</label>
                                <label ng-change="validateRisk()" class="btn btn-default" name="risk" ng-required="true" ng-model="riskModel.SecondryCauses" uib-btn-checkbox>SecondryCauses</label>
                            </div>
                            <div class="btn-group btn-group-justified">
                                <label ng-change="validateRisk()" class="btn btn-default" name="risk" ng-required="true" ng-model="riskModel.PersonalHistoryOfFragilityFracture" uib-btn-checkbox>Personal History Of Fragility Fracture</label>
                                <label ng-change="validateRisk()" class="btn btn-default" name="risk" ng-required="true" ng-model="riskModel.FamilyHistoryOfOsteoporoticFracture" uib-btn-checkbox>Family History Of Osteoporotic Fracture</label>
                                <label ng-change="validateRisk()" class="btn btn-default" name="risk" ng-required="true" ng-model="riskModel.LowCalciumIntakelesThanTwoServings" uib-btn-checkbox>Low Calcium Intakeles Than Two Servings</label>
                            </div>
                            <span class="help-block" ng-show="addForm.risk.$invalid" style="color:red">Body Mass indedx is required</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-line-chart"></i> Diagonistics</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-question"></i> Is Patient Has Fracture* ?
                            </div>
                            <div class="btn-group btn-group-justified  ">
                                <label class="btn btn-default" style="border-bottom-left-radius:0;border-top-left-radius:0;" required name="fracture" ng-model="HasFracture" uib-btn-radio="'true'">Yes</label>
                                <label class="btn btn-default" required name="fracture" ng-model="HasFracture" uib-btn-radio="'false'">No</label>
                            </div>
                        </div>
                        <span class="help-block" ng-show="addForm.fracture.$invalid && !addForm.fracture.$pristine" style="color:red;padding-left:18%;">Has fracture is required</span>
                    </div>
                    <table class="table table-responsive">
                        @*
                            <caption><h3 class="text-center">DXA Scores</h3></caption>*@
                        <thead>
                            <tr>
                                <th><h3 class="text-center">DXA Scores</h3></th>
                                <th class="h3 text-center">T-Score</th>
                                <th class="h3 text-center">BMD</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="h4 text-center">
                                    Lumbar
                                </td>
                                <td>
                                    <input ng-model="patient.dxaLumber" name="dxalumber" valid-number ng-required="HasFracture" class="form-control cc" placeholder="T Score" />
                                </td>
                                <td>
                                    <input ng-model="patient.bmdLumber" valid-number name="bmdlumber" ng-required="HasFracture" class="form-control cc" placeholder="BMD" />
                                </td>
                            </tr>
                            <tr>
                                <td class="h4 text-center">
                                    Femoral Neck
                                </td>
                                <td>
                                    <input ng-model="patient.dxaFemoral" name="dxafemoral" valid-number ng-required="HasFracture" class="form-control dd" placeholder="T Score" />
                                </td>
                                <td>
                                    <input ng-model="patient.bmdFemoral" valid-number name="bmdfemoral" ng-required="HasFracture" class="form-control dd" placeholder="BMD" />
                                </td>
                            </tr>
                            <tr>
                                <td class="h4 text-center">
                                    Total Hip
                                </td>
                                <td>
                                    <input ng-model="patient.dxaTotalHip" valid-number name="dxatotalhip" ng-required="HasFracture" id="hip" class="form-control ff" placeholder="T Score" />
                                </td>
                                <td>
                                    <input ng-model="patient.bmdTotalHip" valid-number name="bmdtotalhip" ng-required="HasFracture" class="form-control ff" placeholder="BMD" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="help-block" ng-messages="addForm.dxalumber.$error" ng-if="addForm.dxalumber.$touched">
                                <div ng-message="required" style="color:red">DXALumber is required</div>
                            </div>
                            <div class="help-block" ng-messages="addForm.dxafemoral.$error" ng-if="addForm.dxafemoral.$touched">
                                <div ng-message="required" style="color:red">DXAFemoral is required</div>
                            </div>
                            <div class="help-block" ng-messages="addForm.dxatotalhip.$error" ng-if="addForm.dxatotalhip.$touched">
                                <div ng-message="required" style="color:red">DXATotalHip is required</div>
                            </div>
                            <div class="help-block" ng-messages="addForm.bmdlumber.$error" ng-if="addForm.bmdlumber.$touched">
                                <div ng-message="required" style="color:red">BMDLumber is required</div>
                            </div>
                            <div class="help-block" ng-messages="addForm.bmdfemoral.$error" ng-if="addForm.bmdfemoral.$touched">
                                <div ng-message="required" style="color:red">BMDFemoral is required</div>
                            </div>
                            <div class="help-block" ng-messages="addForm.bmdtotalhip.$error" ng-if="addForm.bmdtotalhip.$touched">
                                <div ng-message="required" style="color:red">BMDTotalHip is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-hand-o-right"></i> Osteoporosis Case Status </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-ambulance"></i> Osteoporosis Case Status *:
                            </div>
                            <div class="btn-group btn-group-justified">
                                <label class="btn btn-default" name="case" ng-model="OsteoporosisCase" uib-btn-radio="'OsteoporosisWithFracture'" style="border-bottom-left-radius:0;border-top-left-radius:0;">Osteoporosis With Fracture</label>
                                <label class="btn btn-default" name="case" ng-model="OsteoporosisCase" uib-btn-radio="'Osteoporosis'">Osteoporosis</label>
                                <label class="btn btn-default" name="case" ng-model="OsteoporosisCase" uib-btn-radio="'Osteopenia'">Osteopenia</label>
                                <label class="btn btn-default" name="case" ng-model="OsteoporosisCase" uib-btn-radio="'Normal'">Normal</label>
                            </div>
                        </div>
                        <span class="help-block" ng-show="addForm.case.$invalid && !addForm.case.$pristine" style="color:red;padding-left:18%;">Osteoporosis Case Status is required</span>
                    </div>
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-file"></i> Attach File</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <input id="file" name="file-4[]" type="file" ng-file-select="onFileSelect($files)" multiple class="file-loading">
                    <script>
                        var $el = $('#file'), initPlugin = function () {
                            $el.fileinput({
                                initialPreview: initialFiles,
                                initialPreviewConfig: initialConfig,
                                initialPreviewAsData: true,
                                overwriteInitial: false,
                                showCaption: true,
                                showRemove: true,
                                showUpload: false,
                                deleteUrl: "api/file/delete",
                                uploadUrl: 'api/file/delete',
                                dropZoneEnabled: true,
                            }).off('filedeleted').on('filedeleted', function () {
                                loadData();
                            });
                        };

                        var patientData = [];
                        var initialFiles = [];
                        var initialConfig = [];
                        var url = window.location.href;
                        var id = url.substring(url.lastIndexOf('=') + 1);
                        function loadData() {
                            $.get('Main/GetPatientFiles/' + id, function (data) {
                                if (data.files === 'Nofiles') {
                                    initPlugin()
                                }
                                else {
                                    patientData = data.files;
                                    for (var i = 0; i < patientData.length; i++) {
                                        var fileName = patientData[i].split('/').pop().slice(0, -4).toString();
                                        var ext = patientData[i].split('/').pop().split('.').pop();

                                        switch (ext) {
                                            case 'pdf':
                                                initialFiles.push('<img width="120px" height="130px" src=' + '/img/Pdf.ico' + '>');
                                                initialConfig.push({ caption: fileName, width: "120px", key: i, url: 'api/file/delete/' + id + '/' + fileName + '/' + ext });
                                                break;
                                            case 'docx':
                                                initialFiles.push('<img width="120px" height="130px" src=' + '/img/Word.ico' + '>');
                                                initialConfig.push({ caption: fileName, width: "120px", key: i, url: 'api/file/delete/' + id + '/' + fileName + '/' + ext });
                                                break;
                                            case 'csv':
                                                initialFiles.push('<img width="120px" height="130px" src=' + '/img/Excel.png' + '>');
                                                initialConfig.push({ caption: fileName, width: "120px", key: i, url: 'api/file/delete/' + id + '/' + fileName + '/' + ext });
                                                break;
                                            case 'xlsx':
                                                initialFiles.push('<img width="120px" height="130px" src=' + '/img/Excel.png' + '>');
                                                initialConfig.push({ caption: fileName, width: "120px", key: i, url: 'api/file/delete/' + id + '/' + fileName + '/' + ext });
                                                break;
                                            case 'txt':
                                                initialFiles.push('<img width="120px" height="130px" src=' + '/img/Txt.ico' + '>');
                                                initialConfig.push({ caption: fileName, width: "120px", key: i, url: 'api/file/delete/' + id + '/' + fileName + '/' + ext });
                                                break;
                                            case 'rar':
                                                initialFiles.push('<img width="120px" height="130px" src=' + '/img/rar.png' + '>');
                                                initialConfig.push({ caption: fileName, width: "120px", key: i, url: 'api/file/delete/' + id + '/' + fileName + '/' + ext });
                                                break;
                                            case 'zip':
                                                initialFiles.push('<img width="120px" height="130px" src=' + '/img/Zip.png' + '>');
                                                initialConfig.push({ caption: fileName, width: "120px", key: i, url: 'api/file/delete/' + id + '/' + fileName + '/' + ext });
                                                break;
                                            default:
                                                initialFiles.push('<img width="120px" height="130px" src=' + 'SysFiles/PatientFiles/' + id + '/' + fileName + '.' + ext + '>');
                                                initialConfig.push({ caption: fileName, width: "120px", key: i, url: 'api/file/delete/' + id + '/' + fileName + '/' + ext });
                                                break;
                                        }
                                    }
                                    initPlugin();
                                }

                            }).fail(function () {

                            });


                        }
                        loadData();
                    </script>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="btn-group pull-right">
                    <a class="btn btn-danger" style="margin-bottom: 20px;" ng-click="reset()">Reset Form</a>
                    <button class="btn btn-success" ng-disabled="saving" ng-click="add()" style="margin-bottom: 20px;">
                        <span ng-hide="saving">Save Changes</span>
                        <span ng-show="saving"><i class="fa fa-spinner fa-pulse fa-fw"></i>Saving Changes...</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
