﻿<form name="profileform" novalidate>
    <div class="row" ng-controller="profileCtrl">
        <!-- /.container-fluid -->
        <div class="col-xs-12" style="padding-top: .5%;">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-users"></i> Edit User Profile
                    </h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="panel panel-default">
                        @*<div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-apple"></i> User Name :
                                    </div>
                                    <input ng-model="profile.UserName" name="username" class="form-control" required placeholder="User Name">
                                </div>
                                <div class="help-block" ng-messages="userform.healthfacility.$error" ng-if="userform.healthfacility.$touched">
                                    <p ng-message="required" style="color: red">Please enter a valid number of Health Facility</p>
                                </div>
                            </div>*@

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    Old Password :
                                </div>
                                <input ng-model="profile.OldPassword" name="oldpassword" class="form-control" required placeholder="Old Password">
                            </div>
                            <div class="help-block" ng-messages="profileform.oldpassword.$error" ng-if="profileform.oldpassword.$touched">
                                <p ng-message="required" style="color: red">Please enter old password</p>
                                <p style="color: red">{{errorInPassword}}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    New Password :
                                </div>
                                <input ng-model="profile.NewPassword" name="newpassword" class="form-control" required placeholder="New Password">
                            </div>
                            <div class="help-block" ng-messages="profileform.newpassword.$error" ng-if="profileform.newpassword.$touched">
                                <p ng-message="required" style="color: red">Please enter a New password</p>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" ng-disabled="profileform.$invalid" title="" class="btn btn-success" ng-click="EditProfile()">
                                <span ng-hide="savingEditProfile">Save Changes</span>
                                <span ng-show="savingEditProfile"><i class="fa fa-spinner fa-pulse fa-fw"></i>Saving Changes...</span>
                            </button>
                            <a type="button" class="btn btn-danger" href="#/">Cancel</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>

