﻿
<div class="row" ng-controller="reportCtrl">
    <div class="col-xs-12" style="padding-top:.5%;">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-print"></i>Reports And Filtering</h3>
            </div>
            <div class="box-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label>Patient Information</label>
                    </div>
                    <div class="panel panel-body">
                        <div>
                            <div class="row">
                                <div class="col-xs-12 ">
                                    <div class="col-md-4">
                                        <label>Patient Name</label>
                                        <input ng-model="patient.PatientFirstName" type="text" autofocus name="patientName" id="patientName" class="form-control" placeholder="Patient Name" style="border-radius: 4px 0px 0px 4px;">
                                    </div>

                                    <div class="col-lg-4">
                                        <label>Father Name</label>
                                        <input ng-model="patient.PatientFatherName" type="text" class="form-control" name="fatherName" placeholder="Father Name" style="border-radius: 0px 0px 0px 0px;">
                                    </div>

                                    <div class="col-lg-4">
                                        <label>Last Name</label>
                                        <input ng-model="patient.PatientLastName" type="text" class="form-control" name="lastName" placeholder="Last Name" style="border-radius: 0px 4px 4px 0px;">
                                    </div>

                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-12 row">

                                    <div class="col-md-4">
                                        <label>National Id</label>
                                        <input numbers-only ng-model="patient.NationalId" ng-minlength="10" ng-maxlength="10" type="text" autofocus name="patientName" id="patientName" class="form-control" placeholder="Patient Name" style="border-radius: 4px 0px 0px 4px;">
                                    </div>

                                    <div class="col-lg-4">
                                        <label>Contact Number</label>
                                        <input numbers-only ng-model="patient.ContactNumber" ng-minlength="10" ng-maxlength="10" type="text" class="form-control" name="fatherName" placeholder="Father Name" style="border-radius: 0px 0px 0px 0px;">
                                    </div>

                                    <div class="col-lg-4">
                                        <label>Mobile Number</label>
                                        <input numbers-only ng-model="patient.MobileNumber" ng-minlength="10" ng-maxlength="10" type="text" class="form-control" name="lastName" placeholder="Last Name" style="border-radius: 0px 4px 4px 0px;">
                                    </div>

                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group name">
                                    <div class="col-lg-6">
                                        <label class="col-sm-4">City Of Service :</label>
                                        <div class="col-sm-7 ">
                                            <select ng-model="patient.ServiceCityId" class="form-control">
                                                <option name="Servicecity" ng-repeat="item in cities" value="{{item.cityId}}">{{item.cityName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="col-sm-4">City Of Live :</label>
                                        <div class="col-sm-7">
                                            <select ng-model="patient.LiveCityId" name="cityLive" class="form-control">
                                                <option ng-repeat="item in cities" value="{{item.cityId}}">{{item.cityName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group name">
                                    <div class="col-lg-12">
                                        <label class="col-sm-2">Test Date :</label>
                                        <label class="col-sm-1" for="dbpTestF">From </label>
                                        <div class="col-sm-3">
                                            <p class="input-group">
                                                <input id="dbpTestF" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="patient.TestDateFrom" is-open="dbpTestF.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="openTF()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                        </div>
                                        <label class="col-sm-1" for="dbpipker1">To</label>
                                        <div class="col-sm-3">
                                            <p class="input-group">
                                                <input id="dbpipker1" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="patient.TestDateTo" is-open="dbpTestT.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="openTT()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group name">
                                    <div class="col-lg-12">
                                        <label class="col-sm-2">Birth Date :</label>
                                        <label class="col-sm-1" for="dbpBirthF">From </label>
                                        <div class="col-sm-3">
                                            <p class="input-group">
                                                <input id="dbpBirthF" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="patient.BirthDateFrom" is-open="dbpBirthF.opened" datepicker-options="bdateOptions" close-text="Close" alt-input-formats="altInputFormats" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="openBF()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                        </div>
                                        <label class="col-sm-1" for="dbpBirthT">To</label>
                                        <div class="col-sm-3">
                                            <p class="input-group">
                                                <input id="dbpBirthT" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="patient.BirthDateTo" is-open="dbpBirthT.opened" datepicker-options="bdateOptions" close-text="Close" alt-input-formats="altInputFormats" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="openBT()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group name">
                                    <div class="col-lg-12">
                                        <label class="col-sm-2">Age :</label>
                                        <label class="col-sm-1">From </label>
                                        <div class="col-sm-3">
                                            <p class="input-group">
                                                <input class="form-control" ng-model="patient.FromAge" />
                                            </p>
                                        </div>
                                        <label class="col-sm-1">To</label>
                                        <div class="col-sm-3">
                                            <p class="input-group">
                                                <input class="form-control" ng-model="patient.ToAge" />
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group name">
                                            <label class="col-sm-2">gender* :</label>
                                            <div class="col-sm-10 row  ">
                                                <div class="row">
                                                    <div class="btn-group">
                                                        <label class="btn btn-success" ng-model="patient.PatientGender" name="gend" uib-btn-radio="'false'" uncheckable>female</label>
                                                        <label class="btn btn-success" ng-model="patient.PatientGender" name="gend" uib-btn-radio="'true'" uncheckable>male</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group name">
                                            <label class="col-sm-2">Occupation* :</label>
                                            <div class="col-sm-10 row  ">
                                                <div class="row">
                                                    <div class="btn-group">
                                                        <label class="btn btn-primary" name="occupation" ng-model="Occupation" uib-btn-radio="'Unemployed'" uncheckable>Unemployed</label>
                                                        <label class="btn btn-primary" name="occupation" ng-model="Occupation" uib-btn-radio="'Student'" uncheckable>Student</label>
                                                        <label class="btn btn-primary" name="occupation" ng-model="Occupation" uib-btn-radio="'Professional'" uncheckable>Professional</label>
                                                        <label class="btn btn-primary" name="occupation" ng-model="Occupation" uib-btn-radio="'Manual_Labor'" uncheckable>Manual Labor</label>
                                                        <label class="btn btn-primary" name="occupation" ng-model="Occupation" uib-btn-radio="'Unknown'" uncheckable>Unknown</label>
                                                        <label class="btn btn-primary" name="occupation" ng-model="Occupation" uib-btn-radio="'Other_Specify'" uncheckable>Other Specify</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group name">
                                            <label class="col-sm-2">Education* :</label>
                                            <div class="col-sm-10 row  ">
                                                <div class="row">
                                                    <div class="btn-group">
                                                        <label class="btn btn-default" name="education" ng-model="Education" uib-btn-radio="'Un_educated'" uncheckable>Un-educated</label>
                                                        <label class="btn btn-default" name="education" ng-model="Education" uib-btn-radio="'Read_Write'" uncheckable>Read &amp; Write</label>
                                                        <label class="btn btn-default" name="education" ng-model="Education" uib-btn-radio="'Primary'" uncheckable>Primary</label>
                                                        <label class="btn btn-default" name="education" ng-model="Education" uib-btn-radio="'Intermediate'" uncheckable>Intermediate</label>
                                                        <label class="btn btn-default" name="education" ng-model="Education" uib-btn-radio="'Secondary'" uncheckable>Secondary</label>
                                                        <label class="btn btn-default" name="education" ng-model="Education" uib-btn-radio="'University'" uncheckable>University</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="panel-heading">
                        <label>Risk Factor</label>
                    </div>
                    <div class="panel-body">

                        <div class="col-lg -12">
                            @*<label><i class="glyphicon glyphicon-info-sign"></i> Risk Factor</label>*@
                            <div class="form-horizontal">
                                <div class="row">

                                    <div class="col-xs-12">
                                        <div class="form-group name">
                                            <label for="txt5" class="col-sm-2 patient-name">BMI (Body Mass Index) </label>
                                            <div class="col-sm-10 row  ">
                                                <div class="row">
                                                    <div class="col-xs-12 row">
                                                        <div class="col-md-4">
                                                            <input ng-change="calcDmi()" valid-number ng-model="patient.Height" name="height" type="text" autofocus id="txt5" class="form-control" placeholder="Height (CM)" style="border-radius: 4px 0px 0px 4px;">
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <input ng-change="calcDmi()" valid-number ng-model="patient.Weight" name="weight" type="text" class="form-control" placeholder="Weight (KG)" style="border-radius: 0px 0px 0px 0px;">
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <label style="margin-top: 5px; margin-left: 10px;" ng-model="patient.RiskFactor">BMI :{{resultDMI}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <div class="form-group name">
                                            <label class="col-sm-2 patient-name">Risk Factors* : </label>
                                            <div class="col-sm-10 row  ">
                                                <div class="btn-group btn-group-justified">
                                                    <label class="btn btn-default" name="risk" ng-model="riskModel.LowVitamin" uib-btn-checkbox>Low Vitamin D </label>
                                                    <label class="btn btn-default" name="risk" ng-model="riskModel.HormoneTherapy" uib-btn-checkbox>Hormone Therapy </label>
                                                    <label class="btn btn-default" name="risk" ng-model="riskModel.Smoking" uib-btn-checkbox>Smoking</label>
                                                    <label class="btn btn-default" name="risk" ng-model="riskModel.RheumatoidArthritis" uib-btn-checkbox>Rheumatoid Arthritis</label>
                                                    <label class="btn btn-default" name="risk" ng-model="riskModel.Glucocorticoid" uib-btn-checkbox>Glucocorticoid</label>
                                                    <label class="btn btn-default" name="risk" ng-model="riskModel.SecondryCauses" uib-btn-checkbox>SecondryCauses</label>
                                                </div>
                                                <div class="btn-group btn-group-justified">
                                                    <label class="btn btn-default" name="risk" ng-model="riskModel.PersonalHistoryOfFragilityFracture" uib-btn-checkbox>Personal History Of Fragility Fracture</label>
                                                    <label class="btn btn-default" name="risk" ng-model="riskModel.FamilyHistoryOfOsteoporoticFracture" uib-btn-checkbox>Family History Of Osteoporotic Fracture</label>
                                                    <label class="btn btn-default" name="risk" ng-model="riskModel.LowCalciumIntakelesThanTwoServings" uib-btn-checkbox>Low Calcium Intakeles Than Two Servings</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-heading">
                        <label>Diagonistics</label>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12 mm">
                            @*<label><i class="fa fa-user"></i>Diagonistics</label>*@
                            <div class="form-horizontal">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <label class="col-md-2">Has Fracture* ?</label>
                                                <div class="btn-group col-md-10">
                                                    <label class="btn btn-success" name="fracture" ng-model="patient.HasFracture" uib-btn-radio="'true'" uncheckable>Yes</label>
                                                    <label class="btn btn-success" name="fracture" ng-model="patient.HasFracture" uib-btn-radio="'false'" uncheckable>No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <div class="row line1">
                                            <label class="col-xs-2">DXA Score</label>
                                            <div class="col-xs-10">
                                                <div class="col-xs-12">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="row">
                                                                <div class="col-xs-12 row">
                                                                    <div class="row">
                                                                        <label for="txt11" class="col-md-5">(Lumbar) T-Score *</label>
                                                                        <div class="col-md-7">
                                                                            <input ng-model="patient.DXALumber" name="dxalumber" valid-number class="form-control cc" placeholder="T Score" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12 row">
                                                                    <div class="row">
                                                                        <label for="txt12" class="col-md-5">(Femoral Neck) T-Score *</label>
                                                                        <div class="col-md-7">
                                                                            <input ng-model="patient.DXAFemoral" name="dxafemoral" valid-number class="form-control dd" placeholder="T Score" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12 row">
                                                                    <div class="row">
                                                                        <label for="txt13" class="col-md-5">(Total Hip) T-Score *</label>
                                                                        <div class="col-md-7">
                                                                            <input ng-model="patient.DXATotalHip" valid-number name="dxatotalhip" id="hip" class="form-control ff" placeholder="T Score" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input ng-model="patient.BMDLumber" valid-number name="bmdlumber" class="form-control cc" placeholder="BMD" />
                                                            <input ng-model="patient.BMDFemoral" valid-number name="bmdfemoral" class="form-control dd" placeholder="BMD" />
                                                            <input ng-model="patient.BMDTotalHip" valid-number name="bmdtotalhip" class="form-control ff" placeholder="BMD" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="panel-heading">
                        <label>Osteoporosis Case Status</label>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12">
                            @*<label><i class="fa fa-child"></i>Osteoporosis Case Status</label>*@
                            <div class="form-horizontal">
                                <div class="col-xs-12">
                                    <div class="form-group place">
                                        <label class="col-sm-3">Osteoporosis Case Status :</label>
                                        <div class="btn-group col-sm-9 row">
                                            <label class="btn btn-primary" name="case" ng-model="OsteoporosisCase" uib-btn-radio="'OsteoporosisWithFracture'" uncheckable>Osteoporosis With Fracture</label>
                                            <label class="btn btn-primary" name="case" ng-model="OsteoporosisCase" uib-btn-radio="'Osteoporosis'" uncheckable>Osteoporosis</label>
                                            <label class="btn btn-primary" name="case" ng-model="OsteoporosisCase" uib-btn-radio="'Osteopenia'" uncheckable>Osteopenia</label>
                                            <label class="btn btn-primary" name="case" ng-model="OsteoporosisCase" uib-btn-radio="'Normal'" uncheckable>Normal</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="col-lg-12">
                        <div class="btn-group pull-right">

                            <button class="btn btn-success" ng-disabled="reporting" ng-click="showAllResult()" style="margin-bottom: 20px;">
                                <span ng-hide="reporting">Show All Result</span>
                                <span ng-show="reporting"><i class="fa fa-spinner fa-pulse fa-fw"></i>Search For Result...</span>
                            </button>
                            <button class="btn btn-success" ng-click="showAllResult(1)" style="margin-bottom: 20px;">Export Result As pdf</button>
                            <button class="btn btn-success" ng-click="showAllResult(3)" style="margin-bottom: 20px;">Export Result As Word</button>
                            <button class="btn btn-success" ng-click="showAllResult(2)" style="margin-bottom: 20px;">Export Result As Excel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-print"></i>Data Result</h3>
                </div>
                <div class="box-body">
                    <div ng-show="loading" class="row">
                        <b class="alert alert-info center-block " style="width: 70%; font-size: 16px;" role="alert">
                            <span class="glyphicon glyphicon-bookmark">
                            </span>
                            data is loading please wait ....
                        </b>
                    </div>
                    <div ng-show="showResult">
                        <table ng-show="list.length" class="table table-hover table-bordered table-responsive">
                            <thead>
                                <tr ng-hide="filter">
                                    <th ng-click="sort('PatientId')" class="claickable">
                                        #
                                        <span class="glyphicon sort-icon pull-right" ng-show="sortKey=='PatientId'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('FullName')" class="claickable">
                                        Patient Full Name
                                        <span class="glyphicon sort-icon  pull-right " ng-show="sortKey=='FullName'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('NationalId')" class="claickable">
                                        National ID/Iqama
                                        <span class="glyphicon sort-icon  pull-right" ng-show="sortKey=='NationalId'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                    </th>

                                    <th ng-click="sort('OsteoporosisCase')" class="claickable">
                                        Osteoporosis Case
                                        <span class="glyphicon sort-icon pull-right" ng-show="sortKey=='OsteoporosisCase'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('ServiceCity.CityName')" class="claickable">
                                        Service City
                                        <span class="glyphicon sort-icon pull-right" ng-show="sortKey=='ServiceCity.CityName'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('BirthCity.CityName')" class="claickable">
                                        Birth City
                                        <span class="glyphicon sort-icon pull-right " ng-show="sortKey=='BirthCity.CityName'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="item in list|filter:search|orderBy:sortKey:reverse|itemsPerPage:num">
                                    <td>{{$index+1}}</td>
                                    <td>{{item.PatientFirstName +" " + item.PatientFatherName + " " +item.PatientLastName}} </td>
                                    <td>{{item.NationalId}}</td>
                                    <td>{{item.OsteoporosisCase}}</td>
                                    <td>{{item.ServiceCity}}</td>
                                    <td>{{item.LiveCity}}</td>
                                    <td width="60">
                                        <a ng-click="PrintReport(item)" class="claickable" uib-tooltip="Print report" tooltip-placement="top" tooltip-trigger="mouseenter">
                                            <span class="glyphicon glyphicon-print"></span>
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                        <div ng-hide="list.length" class="row">
                            <b class="alert alert-danger center-block " style="width: 70%; font-size: 16px;" role="alert">
                                <span class="glyphicon glyphicon-bookmark">
                                </span>
                                There is no data here for now you can add /remove Item ...
                            </b>
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="pull-right">
                                        <dir-pagination-controls max-size="5" direction-links="true"></dir-pagination-controls>
                                    </div>
                                    <div ng-show="list.length > 5" class="pull-left" style="width: 50%;">
                                        <p class="counter form-inline">
                                            <span> Show </span>
                                            <select ng-model="num" class="form-control input-sm">
                                                <option value="5" ng-selected="num == 5">5</option>
                                                <option value="10" ng-show="list.length > 10">10</option>
                                                <option value="25" ng-show="list.length > 25">25</option>
                                                <option value="50" ng-show="list.length > 50">50</option>
                                                <option ng-model="list.length">All</option>
                                            </select>
                                            <span> From {{list.length}} Patient</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
