﻿<div class="row" ng-controller="homeCtrl">
    <section class="content-header">
        <h1>
            Dashboard
            <small>control panel</small>
        </h1>
    </section>
    <br />
    <div class="col-lg-3 col-xs-6">

        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{{numForm}}</h3>
                <p>Forms Registered</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="#/allForms" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6" ng-show="isViewUsersAllow || isCreateUserAllow || isEditUserAllow || isDeleteUserAllow">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>{{numUser}}</h3>
                @*<h3>53<sup style="font-size: 20px">%</sup></h3>*@
                <p>User Registrations</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#/users" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6" ng-show="isCreatePatientAllow || (isViewPatientAllow  || isEditPatientAllow || isDeletePatientAllow ||  isPrintReportAllow)">
        <!-- small box -->
        <div class="small-box bg-yellow" ng-show="isViewCitiesAllow || isCreateCityAllow || isEditCityAllow || isDeleteCityAllow">
            <div class="inner">
                <h3>{{numCity}}</h3>
                <p>Cities Registered</p>
            </div>
            <div class="icon">
                <i class="glyphicon glyphicon-map-marker"></i>
            </div>
            <a href="#/cities" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6" ng-show="isViewRolesAllow || isCreateRoleAllow || isEditRoleAllow || isDeleteRoleAllow">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>{{numRole}}</h3>
                <p>Users Groups</p>
            </div>
            <div class="icon">
                <i class="glyphicon glyphicon-th-list"></i>
            </div>
            <a href="#/roles" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->


    <div class="col-lg-12">
        <!-- AREA CHART -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-area-chart"></i>Statistical Recap Show the number patient that have Osteoporosis
                </h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    @*<button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <div donut-chart
                         donut-data='donutchartsData'
                         donut-colors='["#31C0BE","#c7254e","#98a0d3","#800000"]'
                         donut-formatter='"number"'>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
        <!-- DONUT CHART -->
    </div>


    <div class="col-lg-12">
        <!-- AREA CHART -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-area-chart"></i> Diagnosed cases of osteoporosis for Gender
                </h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    @*<button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                </div>
            </div>
            <div class="box-body">
                <div bar-chart
                     bar-data="genderData"
                     bar-x='{{xkey}}'
                     bar-y='ykeys'
                     bar-labels='["Male", "Female"]'
                     bar-colors='["#31C0BE", "#c7254e"]'>
                </div>

            </div>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
    <!-- DONUT CHART -->


    <div class="col-lg-12">
        <!-- AREA CHART -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-area-chart"></i> The number of cases examined fore each city </h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    @*<button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                </div>
            </div>
            <div class="box-body">
                <div bar-chart
                     bar-data="cityData"
                     bar-x='{{xaxis}}'
                     bar-y='yaxis'
                     bar-labels='["Patient"]'
                     bar-colors='["#31C0BE"]'>
                </div>
            </div>
        </div><!-- /.box-body -->
    </div><!-- /.box -->



    <div class="col-lg-12">
        <!-- AREA CHART -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-area-chart"></i> The risk factor for cases of diagnosis
                </h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    @*<button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                </div>
            </div>
            <div class="box-body">
                <div bar-chart
                     bar-data="riskData"
                     bar-x='{{xaxisf}}'
                     bar-y='yaxisf'
                     bar-labels='["OsteoporosisWithFracture","Osteoporosis","Osteopenia","Normal"]'
                     bar-colors='["#31C0BE","#e65c00","#990000","#cc0044"]'>
                </div>
            </div>
        </div><!-- /.box-body -->
    </div>



</div><!-- /.homeCtrl -->

<script>

</script>