﻿<div class="row" ng-controller="mapCtrl">
    <div class="col-lg-12">
        <form novalidate name="addForm">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="glyphicon glyphicon-map-marker"></i> Information Of Patient Show In Map
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-8" svg-map></div>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel panel-body">
                                    <div class="regionlist">
                                        <div class="row">
                                            <div class="col-lg-4">City Name </div>
                                            <div class="col-lg-8"> Number of patient</div>
                                        </div>
                                        <div ng-repeat="(key,region) in dummyData"
                                             ng-class="{active:hoverRegion==key}"
                                             ng-mouseover="changeHoverRegion(key)">
                                            <div class="row"></div>
                                            <div class="col-lg-4">{{key}}</div>
                                            <div class="col-lg-4">{{region.value | number}}   Male</div>
                                            <div class="col-lg-4">{{region.female}}   Female</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .state {
        stroke-width: 2;
        stroke: #fff;
        -webkit-transition: stroke 0.5s, stroke-width 0.5s;
        -o-transition: stroke 0.5s, stroke-width 0.5s;
        transition: stroke 0.5s, stroke-width 0.5s;
    }

        .state:hover, .state.active {
            cursor: pointer;
            stroke-width: 4;
            stroke: #000;
        }

    .regionlist {
        -webkit-column-count: 5; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }

        .regionlist > div {
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid grey;
        }

            .regionlist > div.active {
                font-weight: bold;
                background-color: lightblue;
            }

    /*.regionlist > div > div {
                display: inline-block;
                width: 70%;
            }*/

    .scale {
        position: relative;
    }

        .scale div {
            width: 9.07%;
            display: inline-block;
            text-align: center;
            color: #fff;
            font-weight: bold;
            padding: 5px 0;
        }
</style>