﻿
<div id="page-wrapper" class="registry" ng-controller="previewCtrl">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 class="col-sm-9" style="font-size: 23px; font-weight: bold;">
                        <a><i class="fa fa-eye"></i></a>View Form
                    </h1>
                    <a ng-click="DownloadFile()" class="btn btn-default btn-lg pull-right"><i class="glyphicon glyphicon-download"></i>Download</a>
                    <a ng-click="PrintReport()" class="btn btn-default btn-lg pull-right"><i class="glyphicon glyphicon-print"></i>Print</a>
                </div>
            </div>
        </div>


        <!-- /.container-fluid -->
        <div class="col-xs-12">
            <fieldset>
                <legend><i class="fa fa-ambulance"></i>Patient Information</legend>
                <div class="form-horizontal">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="txt1" class="col-sm-4"><i class="fa fa-edit"></i>City Of Service :</label>
                                    <div class="col-sm-8">
                                        <p>{{patient.ServiceCity}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="form-group">
                                    <label for="txt3" class="col-sm-4"><i class="fa fa-edit"></i>National/lqama ID :</label>
                                    <div class="col-sm-8">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <p>{{patient.NationalId}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="txt5" class="col-sm-4"><i class="fa fa-edit"></i>Patient Name :</label>
                                    <div class="col-sm-8">
                                        <p>{{patient.FullName}} </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7">

                                <div class="form-group">
                                    <label class="col-sm-4"><i class="fa fa-edit"></i>Gender :</label>
                                    <div class="col-sm-8">
                                        <p>{{patient.PatientGender}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="txt6" class="col-sm-4"><i class="fa fa-edit"></i>Date Of Test :</label>
                                    <div class="col-sm-8">
                                        <p>{{patient.TestDate | amDateFormat:'DD/MM/YYYY'}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7">

                                <div class="form-group">
                                    <label for="txt7" class="col-sm-4"><i class="fa fa-edit"></i>Date Of Birth :</label>
                                    <div class="col-sm-8">
                                        <p>{{patient.BirthDate | amDateFormat:'DD/MM/YYYY'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="txt8" class="col-sm-4"><i class="fa fa-edit"></i>Place Of Live :</label>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p>{{patient.LiveCity}}</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="col-sm-4"><i class="fa fa-edit"></i>Occupation* :</label>
                                    <div class="col-sm-8">
                                        <p>{{patient.Occupation}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group place">
                                    <label class="col-sm-4"><i class="fa fa-edit"></i>Education* :</label>
                                    <div class="col-sm-8">
                                        <p>{{patient.Education}}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-xs-12">
            <fieldset>
                <legend><i class="fa fa-medkit"></i>Risk Factors</legend>
                <div class="form-horizontal">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-edit"></i>Risk Factors* :</label>
                            <div class="col-sm-10 row">
                                <div class="row">
                                    <div class="col-xs-12 row">
                                        <div class="row">
                                            {{patient.BodyMassIndex}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">

                        <div class="form-group bmi">
                            <label for="txt9" class="col-sm-2"><i class="fa fa-edit"></i>BMI (Body Mass Index) :</label>
                            <div class="col-sm-10 row">
                                <div class="row">
                                    <div class="col-xs-12 row">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p>{{patient.Height}} CM</p>
                                            </div>
                                            <div class="col-md-4">
                                                <p>{{patient.Weight}} KG</p>
                                            </div>
                                            <div class="col-md-4">
                                                <label style="margin-top: 5px; margin-left: 10px;">BMI :</label>
                                                <span>{{patient.RiskFactor}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>


        </div>

        <div class="col-xs-12">
            <fieldset>
                <legend><i class="fa fa-user"></i>Diagonistics</legend>
                <div class="form-horizontal">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="row">
                                    <label class="col-md-2"><i class="fa fa-edit"></i>Has Fracture* ?</label>
                                    <div class="col-md-10">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-md-5 row">
                                                    <p>{{patient.HasFracture}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row line1" ng-hide="patient.HasFracture == 'No'">
                                    <label class="col-xs-2"><i class="fa fa-edit"></i>DXA Score</label>
                                    <div class="col-xs-10">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="row">
                                                        <div class="col-xs-12 row">
                                                            <div class="row">
                                                                <label for="txt11" class="col-md-5">(Lumbar) T-Score *</label>
                                                                <div class="col-md-7">
                                                                    <p>{{patient.DXALumber}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 row">
                                                            <div class="row">
                                                                <label for="txt12" class="col-md-5">(Femoral Neck) T-Score *</label>
                                                                <div class="col-md-7">
                                                                    <p>{{patient.DXAFemoral}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 row">
                                                            <div class="row">
                                                                <label for="txt13" class="col-md-5">(Total Hip) T-Score *</label>
                                                                <div class="col-md-7">
                                                                    <p>{{patient.DXATotalHip}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <p>{{patient.BMDLumber}}</p>
                                                    <p>{{patient.BMDFemoral}}</p>
                                                    <p>{{patient.BMDTotalHip}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </fieldset>


        </div>
        <div class="col-xs-12">
            <fieldset>
                <legend><i class="fa fa-child"></i>Osteoporosis Case Status</legend>
                <div class="form-horizontal">
                    <div class="col-xs-12">
                        <div class="form-group place">
                            <label class="col-sm-3"><i class="fa fa-edit"></i>Osteoporosis Case Status :</label>
                            <div class="col-sm-9 row">
                                <div class="row">
                                    <div class="col-xs-12 row">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p>Osteoporosis With Fracture</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </fieldset>


        </div>
        <div class="col-xs-12 logs">
            <fieldset>
                <legend><i class="fa fa-arrow-circle-right"></i>Logs</legend>
                <div class="form-horizontal">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <p>
                                    <i class="fa fa-angle-double-right"></i>Form Created By <b>{{userAction}}</b> On <b>{{actionDate | amDateFormat:'DD/MM/YYYY'}}</b>
                                </p>
                            </div>
                            @*<div class="col-sm-12 label label-primary">
                                    <p><i class="fa fa-angle-double-right"></i>Form Has Been Edit By <b>Ayman</b> On <b>Sunday 27/2/2016</b> At <b>8:00 Clock</b></p>
                                </div>
                                <div class="col-sm-12 label label-primary">
                                    <p><i class="fa fa-angle-double-right"></i>Patient Name Changed From <b>Mohamed</b> On <b>friday 27/2/2016</b> At <b>4:00 Clock</b></p>
                                </div>*@
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>