﻿<div id="page-wrapper" ng-controller="allRolesCtrl">
    <!-- /.container-fluid -->
    <div class="col-xs-12" style="padding-top:.5%;">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="glyphicon glyphicon-th-list"></i> System Users Groups</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="btn-group">
                                    <a ng-click="setView(0)" class="btn btn-default">
                                        <i class="glyphicon glyphicon-refresh"></i>
                                    </a>
                                    <a ng-show="isViewRolesAllow" ng-click="setView(0)" ng-class="{'btn btn-default active':showData ,'btn btn-default':!showData}">
                                        <i class="glyphicon glyphicon-list"></i> all Groups
                                    </a>
                                    <a ng-show="isViewRolesAllow" ng-click="setView(1)" ng-class="{'btn btn-default active':showhistory ,'btn btn-default':!showhistory}">
                                        <i class="fa fa-trash"></i> Deleted
                                    </a>
                                    <a ng-show="showEditRole" ng-class="{'btn btn-default active':showEditRole ,'btn btn-default':!showEditRole}">
                                        <i class="glyphicon glyphicon-pencil"></i> Edit Group
                                    </a>
                                    <a ng-show="isCreateRoleAllow" ng-click="setView(2)" ng-class="{'btn btn-default active':showAddRole ,'btn btn-default':!showAddRole}">
                                        <i class="glyphicon glyphicon-plus"></i> Add Group
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" ng-show="isViewRolesAllow || isEditRoleAllow || isDeleteRoleAllow">
                        <div ng-show="showhistory || showData">
                            <table ng-show="rolelist.length" class="table table-hover table-bordered table-responsive">
                                <thead>
                                    <tr ng-hide="filter">
                                        <th ng-click="sort('roleName')" class="claickable">
                                            Role Name
                                            <span class="glyphicon sort-icon  pull-right" ng-show="sortKey=='roleName'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                        </th>
                                        @*<th ng-click="sort('Name')" class="claickable">
                                            Role Privilage
                                            <span class="glyphicon sort-icon  pull-right" ng-show="sortKey=='Name'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                            </th>*@
                                        <th class="text-center setting" width="75px">
                                            <a class="claickable" ng-click="triggerFilter()">
                                                <i class="glyphicon glyphicon-filter"></i>
                                            </a>
                                        </th>
                                    </tr>
                                    <tr ng-show="filter">
                                        <th>
                                            <input type="text" ng-model="search.roleName" class="form-control input-sm" placeholder="Role Name" />
                                        </th>

                                        <th class="text-center setting" width="75px">
                                            <a class="claickable" ng-click="triggerFilter()">
                                                <i class="glyphicon glyphicon-filter"></i>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="item in rolelist|filter:search|orderBy:sortKey:reverse|itemsPerPage:num">
                                        <td>{{item.roleName}} </td>
                                        @*<td>{{item.rolePrivilages}}</td>*@
                                        <td ng-hide="showhistory" width="150">
                                            <a ng-show="isEditRoleAllow" ng-click="editRole(item)" uib-tooltip="edit patient info" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            <span ng-show="isDeleteRoleAllow" class="h4">|</span>
                                            <a ng-show="isDeleteRoleAllow" class="claickable" ng-click="deleteRole(item)" style="color:red; cursor: pointer;" data-toggle="modal" data-target="#Delete" uib-tooltip="Delete this Item" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </td>
                                        <td ng-show="showhistory" width="75px">
                                            <a ng-show="isEditRoleAllow" ng-click="restoreRole(item)" style="color:forestgreen" uib-tooltip="Restore Role" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                <span class="glyphicon glyphicon-repeat"></span>
                                            </a>
                                            <span class="h4">|</span>
                                            <a ng-show="isDeleteRoleAllow" class="claickable" ng-click="DeleteRFinal(item)" style="color:red; cursor: pointer;" data-toggle="modal" data-target="#Delete" uib-tooltip="Delete this Item" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div ng-hide="rolelist.length" class="row">
                                <b class="alert alert-danger center-block " style="width:70%; font-size:16px; " role="alert">
                                    <span class="glyphicon glyphicon-bookmark">
                                    </span>
                                    There is no data here for now you can add /remove Item ...
                                </b>
                            </div>
                        </div>
                        <div ng-show="showAddRole">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" ng-click="setView(0)">
                                        <p aria-hidden="true">&times;</p>
                                        <p class="sr-only">Done</p>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel5">Add</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-addon" for="txt1"><i class="fa fa-edit"></i>Role Name :</span>
                                                <input ng-model="RoleName" type="text" id="txt1" class="form-control" placeholder=" enter role name...." />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <table class="centeraliz custom " style="margin-top:-2px;" ng-disabled="!user.RoleId">
                                                <tbody>
                                                    <tr>
                                                        <td class=" input-group-addon" colspan="4">
                                                            <span class="glyphicon glyphicon-list-alt"></span> Choose Privilages
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="btn btn-default icon-camera input-group-addon" ng-click="triggerPatientSection()" style="border-radius: 0;">
                                                            <span class="glyphicon glyphicon-star"></span> Patients
                                                        </td>
                                                        <td style="border-right:none;">
                                                            <div style="width: 100%;" class="btn-group">
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[0].isAllowed" style=" margin:0; border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[1].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[2].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-edit"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[3].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[4].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-print"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[17].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-download"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="btn btn-default icon-camera input-group-addon" style="border-radius: 0; " ng-click="selectPageAdd(item)">
                                                            <span class="glyphicon glyphicon-star"></span> Users
                                                        </td>
                                                        <td style="border-right:none;">
                                                            <div style="width: 100%;" class="btn-group">
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[5].isAllowed" style=" margin:0; border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[6].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[7].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-edit"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[8].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="btn btn-default icon-camera input-group-addon" style="border-radius: 0;">
                                                            <span class="glyphicon glyphicon-star"></span> Roles
                                                        </td>
                                                        <td style="border-right:none;">
                                                            <div style="width: 100%;" class="btn-group">
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[9].isAllowed" style=" margin:0; border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[10].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[11].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-edit"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[12].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="btn btn-default icon-camera input-group-addon" style="border-radius: 0;" ng-click="selectPageAdd(item)">
                                                            <span class="glyphicon glyphicon-star"></span> Cities
                                                        </td>
                                                        <td style="border-right:none;">
                                                            <div style="width: 100%;" class="btn-group">
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[13].isAllowed" style=" margin:0; border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[14].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[15].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-edit"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[16].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="btn btn-default icon-camera input-group-addon" style="border-radius: 0;" ng-click="selectPageAdd(item)">
                                                            <span class="glyphicon glyphicon-star"></span> Reports
                                                        </td>
                                                        <td style="border-right:none;">
                                                            <div style="width: 100%;" class="btn-group">
                                                                <label class="btn btn-default padder" ng-model="AddPrivilages[18].isAllowed" style=" margin:0; border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-print"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" title="" class="btn btn-success" ng-click="addRole()">
                                        <span ng-hide="savingAddRole">Save Changes</span>
                                        <span ng-show="savingAddRole"><i class="fa fa-spinner fa-pulse fa-fw"></i>Saving Changes...</span>
                                    </button>
                                    <button type="button" class="btn btn-danger" ng-click="setView(0)">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div ng-show="showEditRole">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" ng-click="setView(0)">
                                        <p aria-hidden="true">&times;</p>
                                        <p class="sr-only">Done</p>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel5">Edit Role</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-addon" for="txt1"><i class="fa fa-edit"></i>Role Name :</span>
                                                <input ng-model="editedRole.roleName" type="text" id="txt1" class="form-control" placeholder=" enter role name...." />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <table class="centeraliz custom " style="margin-top:-2px;" ng-disabled="!user.RoleId">
                                                <tbody>
                                                    <tr>
                                                        <td class="input-group-addon" colspan="4">
                                                            <span class="glyphicon glyphicon-list-alt"></span> Choose Privilages
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="btn btn-primary icon-camera input-group-addon" ng-click="triggerPatientSection()" style="border-radius: 0;">
                                                            <span class="glyphicon glyphicon-star"></span> Patients
                                                        </td>
                                                        <td style="border-right:none;">
                                                            <div style="width: 100%;" class="btn-group">
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[0].isAllowed" style="margin:0; border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[1].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[2].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-edit"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[3].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[4].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-print"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[17].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-download"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="btn btn-primary icon-camera input-group-addon" style="border-radius: 0; " ng-click="selectPageAdd(item)">
                                                            <span class="glyphicon glyphicon-star"></span> Users
                                                        </td>
                                                        <td style="border-right:none;">
                                                            <div style="width: 100%;" class="btn-group">
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[5].isAllowed" style=" margin:0; border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[6].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[7].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-edit"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[8].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="btn btn-primary icon-camera input-group-addon" style="border-radius: 0;">
                                                            <span class="glyphicon glyphicon-star"></span> Roles
                                                        </td>
                                                        <td style="border-right:none;">
                                                            <div style="width: 100%;" class="btn-group">
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[9].isAllowed" style=" margin:0; border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[10].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[11].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-edit"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[12].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="btn btn-primary icon-camera input-group-addon" style="border-radius: 0;" ng-click="selectPageAdd(item)">
                                                            <span class="glyphicon glyphicon-star"></span> Cities
                                                        </td>
                                                        <td style="border-right:none;">
                                                            <div style="width: 100%;" class="btn-group">
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[13].isAllowed" style=" margin:0; border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[14].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[15].isAllowed" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-edit"></span>
                                                                </label>
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[16].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="btn btn-primary icon-camera input-group-addon" style="border-radius: 0;" ng-click="selectPageAdd(item)">
                                                            <span class="glyphicon glyphicon-star"></span> Reports
                                                        </td>
                                                        <td style="border-right:none;">
                                                            <div style="width: 100%;" class="btn-group">
                                                                <label class="btn btn-default padder" ng-model="EditPrivilages[18].isAllowed" style=" margin:0; border-radius: 0;" uib-btn-checkbox>
                                                                    <span class="glyphicon glyphicon-print"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" title="" class="btn btn-success" ng-click="saveEdit()">
                                        <span ng-hide="savingEditRole">Save Changes</span>
                                        <span ng-show="savingEditRole"><i class="fa fa-spinner fa-pulse fa-fw"></i>Saving Changes...</span>
                                    </button>
                                    <button type="button" class="btn btn-danger" ng-click="setView(0)">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" ng-show="isViewRolesAllow || isEditRoleAllow || isDeleteRoleAllow">
                        <div class="row" ng-show="showhistory || showData">
                            <div class="col-lg-12">
                                <div class="pull-right">
                                    <dir-pagination-controls max-size="5" direction-links="true"></dir-pagination-controls>
                                </div>
                                <div ng-show="rolelist.length > 5" class="pull-left" style="width:50%;">
                                    <p class="counter form-inline">
                                        <span>Show</span>
                                        <select ng-model="num" class="form-control input-sm">
                                            <option value="5" ng-selected="num == 5">5</option>
                                            <option value="10" ng-show="rolelist.length > 10">10</option>
                                            <option value="25" ng-show="rolelist.length > 25">25</option>
                                            <option value="50" ng-show="rolelist.length > 50">50</option>
                                            <option ng-model="rolelist.length">All</option>
                                        </select>
                                        <span> From {{rolelist.length}} Role</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

