﻿<form name="userform" novalidate>
    <div class="row" ng-controller="allUsersCtrl">
        <!-- /.container-fluid -->
        <div class="col-xs-12" style="padding-top:.5%;">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-users"></i> System Users</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="btn-group">
                                        <a ng-show="isViewUsersAllow" ng-click="setView(0)" class="btn btn-default">
                                            <i class="glyphicon glyphicon-refresh"></i>
                                        </a>
                                        <a ng-show="isViewUsersAllow" ng-click="setView(0)" ng-class="{'btn btn-default active':showData ,'btn btn-default':!showData}">
                                            <i class="glyphicon glyphicon-list"></i> all users
                                        </a>
                                        <a ng-show="isViewUsersAllow" ng-click="setView(1)" ng-class="{'btn btn-default active':showhistory ,'btn btn-default':!showhistory}">
                                            <i class="fa fa-trash"></i> Deleted
                                        </a>
                                        <a ng-show="isCreateUserAllow" ng-click="setView(2)" ng-class="{'btn btn-default active':showAdd ,'btn btn-default':!showAdd}">
                                            <i class="glyphicon glyphicon-plus"></i> Add User
                                        </a>
                                        <a ng-show="isEditUserAllow" ng-click="setView(3)" ng-class="{'btn btn-default active':showEdit ,'btn btn-default':!showEdit}">
                                            <i class="glyphicon glyphicon-pencil"></i> Edit User
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body" ng-show="isViewUsersAllow || isEditUserAllow || isDeleteUserAllow">

                            <div ng-show="showhistory || showData">
                                <table ng-show="userlist.length" class="table table-hover table-bordered table-responsive">
                                    <thead>
                                        <tr ng-hide="filter">
                                            <th ng-click="sort('fullName')" class="claickable">
                                                Full Name
                                                <span class="glyphicon sort-icon  pull-right" ng-show="sortKey=='fullName'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                            </th>
                                            <th ng-click="sort('userName')" class="claickable">
                                                User Name
                                                <span class="glyphicon sort-icon  pull-right" ng-show="sortKey=='userName'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                            </th>
                                            <th ng-click="sort('roleName')" class="claickable">
                                                User Role
                                                <span class="glyphicon sort-icon  pull-right" ng-show="sortKey=='roleName'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                            </th>
                                            <th ng-click="sort('createDate')" class="claickable">
                                                Last Login
                                                <span class="glyphicon sort-icon  pull-right" ng-show="sortKey=='createDate'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                            </th>
                                            <th ng-click="sort('lastLogin')" class="claickable">
                                                Creation Date
                                                <span class="glyphicon sort-icon  pull-right" ng-show="sortKey=='lastLogin'" ng-class="{'glyphicon-sort-by-attributes-alt':reverse,'glyphicon-sort-by-attributes':!reverse}"></span>
                                            </th>
                                            <th class="text-center setting" width="75px">
                                                <a class="claickable" ng-click="triggerFilter()">
                                                    <i class="glyphicon glyphicon-filter"></i>
                                                </a>
                                            </th>
                                        </tr>
                                        <tr ng-show="filter">
                                            <th>
                                                <input type="text" ng-model="search.fullName" class="form-control input-sm" placeholder="FullName" />
                                            </th>
                                            <th>
                                                <input type="text" ng-model="search.userName" class="form-control input-sm" placeholder="User Name" />
                                            </th>
                                            <th>
                                                <input type="text" ng-model="search.roleName" class="form-control input-sm" placeholder="Role Name" />
                                            </th>
                                            <th>
                                                <input type="text" ng-model="search.createDate" class="form-control input-sm" placeholder="Creation Date" />
                                            </th>
                                            <th>
                                                <input type="text" ng-model="search.lastLogin" class="form-control input-sm" placeholder="Last Login" />
                                            </th>
                                            <th class="text-center setting" width="75px">
                                                <a class="claickable" ng-click="triggerFilter()">
                                                    <i class="glyphicon glyphicon-filter"></i>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="item in userlist|filter:search|orderBy:sortKey:reverse|itemsPerPage:num">
                                            <td>{{item.fullName}} </td>
                                            <td>{{item.userName}} </td>
                                            <td>{{item.roleName}} </td>
                                            <td>{{item.createDate}} </td>
                                            <td>{{item.lastLogin}} </td>
                                            <td ng-hide="showhistory" width="150">
                                                <a ng-show="isEditUserAllow" ng-click="editUser(item)" class="claickable" uib-tooltip="edit patient info" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <span ng-show="isDeleteUserAllow" class="h4">|</span>
                                                <a ng-show="isDeleteUserAllow" class="claickable" ng-click="deleteUser(item)" style="color:red; cursor: pointer;" data-toggle="modal" data-target="#Delete" uib-tooltip="Delete this Item" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </td>
                                            <td ng-show="showhistory" width="75px">
                                                <a ng-show="isEditUserAllow" ng-click="restoreUser(item)" style="color:forestgreen" class="claickable" uib-tooltip="Restore City" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                    <span class="glyphicon glyphicon-repeat"></span>
                                                </a>
                                                <span ng-show="isDeleteUserAllow" class="h4">|</span>
                                                <a ng-show="isDeleteUserAllow" class="claickable" ng-click="DeleteUFinal(item)" style="color:red;  cursor: pointer;" data-toggle="modal" data-target="#Delete" uib-tooltip="Delete this Item" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div ng-hide="userlist.length" class="row">
                                    <b class="alert alert-danger center-block " style="width:70%; font-size:16px; " role="alert">
                                        <span class="glyphicon glyphicon-bookmark">
                                        </span>
                                        There is no data here for now you can add /remove Item ...
                                    </b>
                                </div>
                            </div>

                            <div ng-show="showAdd">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" ng-click="setView(0)">
                                            <p aria-hidden="true">&times;</p>
                                            <p class="sr-only">Done</p>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel5">Add</h4>
                                    </div>

                                    <div class="modal-body">

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <kform-input name="name" id="fullname" diplaytxt="Full Name" type="text" modelname="registration.FullName" deleteicon="true"></kform-input>
                                                <kform-input addon-class="glyphicon glyphicon-cog" addon-method="generateName()" addon-tooltip="Click to Generat Login Name" name="name" id="loginname" diplaytxt="Login Name" type="text" modelname="registration.UserName" deleteicon="true"></kform-input>
                                                <kform-input addon-class="glyphicon glyphicon-cog" addon-method="generatPassword()" addon-tooltip="Click to Generat Password" name="name" id="password" diplaytxt="Password" type="text" modelname="registration.Password" deleteicon="true"></kform-input>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <label class="input-group-addon" id="role"><i class="fa fa-angle-double-right"></i> User Role :</label>
                                                        <select ng-model="registration.RoleId" class="form-control" aria-describedby="role" ng-change="logPrivilage()">
                                                            <option ng-repeat="item in rolelist" value="{{item.roleId}}">{{item.roleName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <label class="input-group-addon" id="city"> <i class="fa fa-angle-double-right"></i> User City :</label>
                                                        <select ng-model="registration.CityId" class="form-control" aria-describedby="city">
                                                            <option ng-repeat="item in cityList" value="{{item.cityId}}">{{item.cityName}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-mail-forward"></i> email :
                                                        </div>
                                                        <input ng-model="registration.Email" name="Aemail" type="email" class="form-control" required placeholder="Email">
                                                    </div>
                                                    <div class="help-block" ng-messages="userform.Aemail.$error" ng-if="userform.Aemail.$touched">
                                                        <p ng-message="email" style="color: red">Please enter a valid email address! like aa@gmail.com</p>
                                                        <p ng-message="required" style="color:red">Please enter email</p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-phone"></i> Mobile Number :
                                                        </div>
                                                        <input ng-model="registration.MobileNumber" numbers-only name="AmobileNumber" class="form-control" required ng-minlength="10" ng-maxlength="10" placeholder="Mobile Number">
                                                    </div>
                                                    <div class="help-block" ng-messages="userform.AmobileNumber.$error" ng-if="userform.AmobileNumber.$touched">
                                                        <p ng-message="minlength" style="color: red">Contact Number is too short. must be 10 number.</p>
                                                        <p ng-message="maxlength" style="color: red">Contact Number is too long. must be 10 number.</p>
                                                        <p ng-message="required" style="color: red">Contact Numberis required.</p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-flag"></i> Job Title :
                                                        </div>
                                                        <input ng-model="registration.JobTitle" name="Ajobtitle" class="form-control" required placeholder="Health Facility">
                                                    </div>
                                                    <div class="help-block" ng-messages="userform.Ajobtitle.$error" ng-if="userform.Ajobtitle.$touched">
                                                        <p ng-message="required" style="color:red">Please enter Job Title</p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-apple"></i> Health Facility :
                                                        </div>
                                                        <input ng-model="registration.HealthFacility" name="Ahealthfacility" class="form-control" required placeholder="Health Facility">
                                                    </div>
                                                    <div class="help-block" ng-messages="userform.Ahealthfacility.$error" ng-if="userform.Ahealthfacility.$touched">
                                                        <p ng-message="required" style="color:red">Please enter a valid number of Health Facility</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-6">
                                                <table class="centeraliz custom " style="margin-top:-2px;" ng-disabled="!user.RoleId">
                                                    <tbody>
                                                        <tr>
                                                            <td class="input-group-addon" colspan="4">
                                                                <span class="glyphicon glyphicon-list-alt"></span> Choose Privilages
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="btn btn-default icon-camera input-group-addon" ng-click="triggerPatientSection()" style="border-radius: 0;">
                                                                <span class="glyphicon glyphicon-star"></span> Patients
                                                            </td>
                                                            <td style="border-right:none;">
                                                                <div style="width: 100%;" class="btn-group">
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[0].isAllowed" style="margin:0; border-radius: 0;" uib-btn-checkbox uib-tooltip="{{AddPrivilages[0].PrivilageName}}" tooltip-placement="top" tooltip-trigger="mouseenter">
                                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[1].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-plus"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[2].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-edit"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[3].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[4].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-print"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[17].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-download"></span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="btn btn-default icon-camera input-group-addon" style="border-radius: 0; " ng-click="selectPageAdd(item)">
                                                                <span class="glyphicon glyphicon-star"></span> Users
                                                            </td>
                                                            <td style="border-right:none;">
                                                                <div style="width: 100%;" class="btn-group">
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[5].isAllowed" style=" margin:0; border-radius 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[6].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-plus"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[7].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-edit"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[8].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="btn btn-default icon-camera input-group-addon" style="border-radius: 0;">
                                                                <span class="glyphicon glyphicon-star"></span> Roles
                                                            </td>
                                                            <td style="border-right:none;">
                                                                <div style="width: 100%;" class="btn-group">
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[9].isAllowed" style=" margin:0; border-radius 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[10].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-plus"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[11].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-edit"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[12].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="btn btn-default icon-camera input-group-addon" style="border-radius: 0;" ng-click="selectPageAdd(item)">
                                                                <span class="glyphicon glyphicon-star"></span> Cities
                                                            </td>
                                                            <td style="border-right:none;">
                                                                <div style="width: 100%;" class="btn-group">
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[13].isAllowed" style=" margin:0; border-radius 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[14].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-plus"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[15].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-edit"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[16].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="btn btn-default icon-camera input-group-addon" style="border-radius: 0;" ng-click="selectPageAdd(item)">
                                                                <span class="glyphicon glyphicon-star"></span> Reports
                                                            </td>
                                                            <td style="border-right:none;">
                                                                <div style="width: 100%;" class="btn-group">
                                                                    <label class="btn btn-default padder" ng-model="AddPrivilages[18].isAllowed" style=" margin:0; border-radius 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-print"></span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" ng-disabled="addUserForm.$invalid" title="" class="btn btn-success" ng-click="signUp()">
                                            <span ng-hide="savingsignUp">Save Changes</span>
                                            <span ng-show="savingsignUp"><i class="fa fa-spinner fa-pulse fa-fw"></i>Saving Changes...</span>
                                        </button>
                                        <button type="button" class="btn btn-danger" ng-click="setView(0)">Cancel</button>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="showEdit">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" ng-click="setView(0)">
                                            <p aria-hidden="true">&times;</p>
                                            <p class="sr-only">Done</p>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel5">Edit</h4>
                                    </div>

                                    <div class="modal-body">
                                        <div class="row" style="padding-left:20%">
                                            <div class="input-group col-lg-8">
                                                <label class="input-group-addon" id="user">Select User to Edit :</label>
                                                <select ng-model="selectedUser" aria-describedby="user" class="form-control" ng-change="logUser()">
                                                    <option ng-repeat="item in userlist" value="{{item.id}}">{{item.userName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <kform-input name="name" id="fullname" diplaytxt="User Name" type="text" modelname="editedUser.userName" deleteicon="false"></kform-input>
                                                <kform-input name="name" id="fullname" diplaytxt="Full Name" type="text" modelname="editedUser.fullName" deleteicon="false"></kform-input>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <label class="input-group-addon" id="role">User Role :</label>
                                                        <select ng-model="editedUser.roleId" class="form-control" aria-describedby="role" ng-change="logEditPrivilage()">
                                                            <option ng-repeat="item in rolelist" ng-selected="item.roleId == editedUser.roleId" value="{{item.roleId}}">{{item.roleName}}</option>
                                                        </select>
                                                        <span class="input-group-btn">
                                                            <a style="border-radius: 0;" class="btn btn-default" ng-click="allRoles()">
                                                                <span class="glyphicon glyphicon-refresh"></span>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <label class="input-group-addon" id="city"> <i class="fa fa-angle-double-right"></i> User City :</label>
                                                        <select ng-model="editedUser.cityId" class="form-control" aria-describedby="city">
                                                            <option ng-repeat="item in cityList" ng-selected="item.cityId == editedUser.cityId" value="{{item.cityId}}">{{item.cityName}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-mail-forward"></i> email :
                                                        </div>
                                                        <input ng-model="editedUser.email" name="email" type="email" class="form-control" required placeholder="Email">
                                                    </div>
                                                    <div class="help-block" ng-messages="userform.email.$error" ng-if="userform.email.$touched">
                                                        <p ng-message="email" style="color: red">Please enter a valid email address! like aa@gmail.com</p>
                                                        <p ng-message="required" style="color:red">Please enter email</p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-phone"></i> Mobile Number :
                                                        </div>
                                                        <input ng-model="editedUser.mobileNumber" numbers-only name="mobileNumber" class="form-control" required ng-minlength="10" ng-maxlength="10" placeholder="Mobile Number">
                                                    </div>
                                                    <div class="help-block" ng-messages="userform.mobileNumber.$error" ng-if="userform.mobileNumber.$touched">
                                                        <p ng-message="minlength" style="color: red">Contact Number is too short. must be 10 number.</p>
                                                        <p ng-message="maxlength" style="color: red">Contact Number is too long. must be 10 number.</p>
                                                        <p ng-message="required" style="color: red">Contact Numberis required.</p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-flag"></i> Job Title :
                                                        </div>
                                                        <input ng-model="editedUser.jobTitle" name="jobtitle" class="form-control" required placeholder="Job Title">
                                                    </div>
                                                    <div class="help-block" ng-messages="userform.jobtitle.$error" ng-if="userform.jobtitle.$touched">
                                                        <p ng-message="required" style="color:red">Please enter Job Title</p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-apple"></i> Health Facility :
                                                        </div>
                                                        <input ng-model="editedUser.healthFacility" name="healthfacility" class="form-control" required placeholder="Health Facility">
                                                    </div>
                                                    <div class="help-block" ng-messages="userform.healthfacility.$error" ng-if="userform.healthfacility.$touched">
                                                        <p ng-message="required" style="color:red">Please enter a valid number of Health Facility</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <table class="centeraliz custom " style="margin-top:-2px;" ng-disabled="!user.RoleId">
                                                    <tbody>
                                                        <tr>
                                                            <td class="input-group-addon" colspan="4">
                                                                <span class="glyphicon glyphicon-list-alt"></span> Choose Privilages
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="btn btn-default icon-camera input-group-addon" ng-click="triggerPatientSection()" style="border-radius: 0;">
                                                                <span class="glyphicon glyphicon-star"></span> Patients
                                                            </td>
                                                            <td style="border-right:none;">
                                                                <div style="width: 100%;" class="btn-group">
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[0].isAllowed" style=" margin:0; border-radius 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[1].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-plus"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[2].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-edit"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[3].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[4].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-print"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[17].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-download"></span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="btn btn-default icon-camera input-group-addon" style="border-radius: 0; " ng-click="selectPageAdd(item)">
                                                                <span class="glyphicon glyphicon-star"></span> Users
                                                            </td>
                                                            <td style="border-right:none;">
                                                                <div style="width: 100%;" class="btn-group">
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[5].isAllowed" style=" margin:0; border-radius 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[6].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-plus"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[7].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-edit"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[8].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="btn btn-default icon-camera input-group-addon" style="border-radius: 0;">
                                                                <span class="glyphicon glyphicon-star"></span> Roles
                                                            </td>
                                                            <td style="border-right:none;">
                                                                <div style="width: 100%;" class="btn-group">
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[9].isAllowed" style=" margin:0; border-radius 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[10].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-plus"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[11].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-edit"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[12].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="btn btn-default icon-camera input-group-addon" style="border-radius: 0;" ng-click="selectPageAdd(item)">
                                                                <span class="glyphicon glyphicon-star"></span> Cities
                                                            </td>
                                                            <td style="border-right:none;">
                                                                <div style="width: 100%;" class="btn-group">
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[13].isAllowed" style=" margin:0; border-radius 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[14].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-plus"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[15].isAllowed" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-edit"></span>
                                                                    </label>
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[16].isAllowed" style="border-radius: 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="btn btn-default icon-camera input-group-addon" style="border-radius: 0;" ng-click="selectPageAdd(item)">
                                                                <span class="glyphicon glyphicon-star"></span> Reports
                                                            </td>
                                                            <td style="border-right:none;">
                                                                <div style="width: 100%;" class="btn-group">
                                                                    <label class="btn btn-default padder" ng-model="EditPrivilages[18].isAllowed" style=" margin:0; border-radius 0;" uib-btn-checkbox>
                                                                        <span class="glyphicon glyphicon-print"></span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" title="" class="btn btn-success" ng-click="saveEdit()">
                                            <span ng-hide="savingedit">Save Changes</span>
                                            <span ng-show="savingedit"><i class="fa fa-spinner fa-pulse fa-fw"></i>Saving Changes...</span>
                                        </button>
                                        <button type="button" class="btn btn-danger" ng-click="setView(0)">Cancel</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer" ng-show="showhistory || showData">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="pull-right">
                                        <dir-pagination-controls max-size="5" direction-links="true"></dir-pagination-controls>
                                    </div>
                                    <div ng-show="userlist.length > 5" class="pull-left" style="width:50%;">
                                        <p class="counter form-inline">
                                            <span>Show</span>
                                            <select ng-model="num" class="form-control input-sm">
                                                <option value="5" ng-selected="num == 5">5</option>
                                                <option value="10" ng-show="userlist.length > 10">10</option>
                                                <option value="25" ng-show="userlist.length > 25">25</option>
                                                <option value="50" ng-show="userlist.length > 50">50</option>
                                                <option ng-model="userlist.length">All</option>
                                            </select>
                                            <span> From {{userlist.length}} User</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>